<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/styles/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/toast2.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
  <div class="container">
    <h2>PNG 图片无损压缩工具</h2>
    <div class="report panel">
      <h3 class="h-title">工作目录</h3>
      <div><label>原始图片所在目录：</label><code>{{workingDir}}</code></div>
      <div><label>压缩后图片目录：</label><code>{{compressedDir}}</code></div>
      <h3 class="h-title">图片统计</h3>
      <div class="flex">
        <div>
          <div><label>图片总数量</label></div>
          <div class="number-lg">{{files.length}}</div>
          <div>{{totalSizeDesc}}</div>
          <button class="btn btn-success btn-sm" id="compress-all">全部压缩</button>
        </div>
        <div class="math-operator">=</div>
        <div>
          <div><label>已压缩图片数量</label></div>
          <div class="number-lg">{{numberOfCompressedImages}}</div>
          <div>{{totalSizeAfterDesc}}</div>
        </div>
        <div class="math-operator">+</div>
        <div>
          <div><label>未压缩图片数量</label></div>
          <div class="number-lg">{{files.length - numberOfCompressedImages}}</div>
          <div>{{sizeOfUncompressedImagesDesc}}</div>
          <button class="btn btn-success btn-sm" id="compress-uncompressed">全部压缩</button>
        </div>
      </div>
    </div>
    <h3 class="h-title">图片明细</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6">原图片</div>
          <div class="col-sm-6">压缩后</div>
        </div>
      </li>
      {% for item in files %}
        <li class="list-group-item">
          <p>文件路径：<code>{{item.img}}</code></p>
          <div class="row">
            <div class="col-sm-6 left">
              <img src="{{ item.img }}" />
              <p>{{ item.stats.sizeDesc }}</p>
              <button class="btn btn-primary btn-sm" data-src="{{ item.img }}">开始压缩</button>
            </div>
            <div class="col-sm-6">
              {% if item.compressed %}
                <img src="{{ item.compressed.url }}">
                <p>{{ item.compressed.stats.sizeDesc }}（是原图的 {{ item.sizeSaveRatio }}%）</p>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/toast2.js"></script>
  <script src="/js/axios.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
