<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
  <link href="https://v4.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>PNG无损压缩本地服务</h2>
    <div class="report panel">
      <div><label>工作目录：</label><code>{{workingDir}}</code></div>
      <div><label>压缩后图片目录：</label><code>{{compressedDir}}</code></div>
      <div>
        <div><label>PNG图片总数量：</label></div>
        <div style="line-height: 40px; display: flex;">
          <span class="number-lg" style="margin-right: 30px;">{{files.length}}</span>
          <button class="btn btn-success" id="compress-all">全部压缩</button>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6">原图片</div>
          <div class="col-sm-6">压缩后的图片</div>
        </div>
      </li>
      {% for item in files %}
        <li class="list-group-item">
          <p>文件路径：{{item.img}}</p>
          <div class="row">
            <div class="col-sm-6 left">
              <img src="{{ item.img }}" />
              <div>{{ item.stats.sizeDesc }}</div>
              <button class="btn btn-primary" data-src="{{ item.img }}">开始压缩</button>
            </div>
            <div class="col-sm-6">
              {% if item.compressed %}
                <img src="{{ item.compressed.url }}">
                <div>{{ item.compressed.stats.sizeDesc }}</div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
